@{
    ViewData["Title"] = "StoryBoard App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Stylesheets{
    <link href="/static/css/main.e787fe0d.css" rel="stylesheet">
}
<div id="root"></div>
@section Scripts {
    <script type="text/javascript" src="/static/js/main.6403f400.js"></script>
}